// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
// @import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "~vue-search-select/dist/VueSearchSelect.css";

.example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}

.example-modal .modal {
    background: transparent !important;
}

.tr_button {
    .buttonOpenTableConteer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a.btn-pause {
            max-width: 80px;
        }

        a.btn {
            font-size: 10px;
            height: auto !important;
        }
    }
}

.orderClosedConteer {}

@media (max-width: 1395px) {
    .tr_button {
        .buttonOpenTableConteer {
            flex-direction: column;
            justify-content: center;

            a.btn {
                max-width: inherit !important;
                margin-bottom: 10px;
                height: auto !important;

                i {
                    display: none;
                }
            }
        }
    }
}

.filterConteer {
    .itemFilter {
        margin-right: 10px;
    }
}

.flexBlock {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.itemAct {
    width: 50%;
}

.flexMaxWidth {
    flex-grow: 1;
    max-width: 50%;
}

.flexCompare {
    .itemSelect {
        min-width: 33.3%;
    }
}

.btnCat {
    min-width: 250px;
}


.addPurchaseinvoiceHeader {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;

    .formItemInp {
        min-width: 30%;
        max-width: 30%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

#addPurchaseProduct,
#addPurchaseinvoiceItem {
    .addPurchaseinvoiceItem {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 10px;

        .formItemInp {
            min-width: 30%;
            max-width: 30%;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media screen and (max-width: 768px) {

    .addPurchaseinvoiceHeader {
        display: none;
    }

    #addPurchaseProduct,
    #addPurchaseinvoiceItem {
        .addPurchaseinvoiceItem {
            width: 100%;
            padding-bottom: 10px;
            border-bottom: 2px solid;

            .formItem,
            .formItemInp {
                width: 100%;
                min-width: inherit;
                max-width: inherit;
                text-align: center;

                a.removeItem {
                    font-size: 150%;
                }
            }
        }
    }
}

formItemInp .borderBottom {
    border-bottom: 1px solid;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.tooltip {
    display: block !important;
    z-index: 10000;

    .tooltip-inner {
        background: black;
        color: white;
        border-radius: 16px;
        padding: 5px 10px 4px;
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: black;
        z-index: 1;
    }

    &[x-placement^="top"] {
        margin-bottom: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: 5px;

        .tooltip-arrow {
            border-width: 0 5px 5px 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="right"] {
        margin-left: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 5px 0;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: 5px;

        .tooltip-arrow {
            border-width: 5px 0 5px 5px;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &.popover {
        $color: #ffffff;
        // box-shadow: inherit !important;
        border: 1px solid rgb(0, 142, 191) !important;
        padding-top: 12px;
        padding-bottom: 12px;

        .popover-inner {
            background: $color;
            padding-left: 24px;
            padding-right: 24px;
            padding-top: 0;
            padding-bottom: 0;
        }

        .popover-arrow {
            border-color: $color;
        }

        a {
            color: rgb(51, 51, 51);
            font-size: 16px;
            text-decoration: none;
        }
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .15s;
    }

    .wrapper {
        background: inherit !important;
    }
}


.vs__input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.modalCustom {

    .modal-my {
        max-width: 545px;
    }

    .modal-my2 {
        max-width: 425px;
    }

    .modal-header {
        border: none;
    }

    .buttonBlock {
        display: flex;
        width: 100%;

        .itemBtton {
            width: 50%;
            box-sizing: border-box;
        }

        .leftItem {
            padding-right: 15px;

        }

        .rightItem {
            padding-left: 15px;
            text-align: right;
        }
    }

}

.order-menu {
    position: relative;
}

@media (max-width: 767px) {}

@media screen and (max-width: 480px) {
    .modalCustom {
        .buttonBlock {
            flex-wrap: wrap;

            .itemBtton {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }

            .leftItem {
                padding-right: 0;
            }

            .rightItem {
                padding-left: 0;
            }
        }

    }

}

.modalHeader {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}

.modal-header {
    border-bottom: none;

    .text {
        text-align: center;
        font-size: 16px;
        font-size: 600;
        color: #000;
    }

    .close {
        float: none;
        position: absolute;
        top: 12px;
        right: 10px;
        font-size: 30px;
        margin: 0;
    }
}

table.tables {
    tr {
        td.price {
            div.timerPriceorderConteer {
                display: inline;
            }

            div {
                display: inline;

                span.price {
                    position: relative;
                    font-size: 16px;
                    line-height: 19px;
                }

                span.valut {
                    display: none !important;
                }
            }
        }
    }
}

.timerTableHome {
    display: flex;
    align-items: center;

    .timerBlock {

        div {
            display: inline-block;
        }

        p {
            display: inline !important;
            padding: 0 !important;
            margin:  !important;
            background: inherit !important;
            font-size: 16px !important;
            line-height: 19px !important;
            color: rgb(51, 51, 51) !important;
            font-family: 'Roboto', sans-serif !important;
            font-weight: 400 !important;
        }

        .spacer {
            margin: 0 !important;
        }
    }

    span.openText {
        position: relative !important;
        margin-left: 5px;
        margin-bottom: 10px;
        ;
    }
}

input[type="submit"][disabled="disabled"],
button[disabled="disabled"] {
    cursor: not-allowed !important;
}

li.locale {
    a.active {
        span {
            color: rgb(114, 175, 210) !important;
        }
    }
}


// table *****************************************************************************************8
div.board_col.active {
    border: 1px solid rgb(0, 10, 26);

    a.board_imem.item-open {
        outline: none;
        text-decoration: none;
        color: rgb(114, 175, 210);
    }
}

.modal {
    .modal-content {
        .close:before {
            content: none !important;
        }
    }
}

a.backTable {
    display: none;
}

@media (max-width: 768px) {
    .ConteerRowTable {

        .widthFullFree,
        .widthFull {
            display: none !important;
        }
    }

    .ConteerRowTable.TableOpen {
        .widthFull {
            width: 100% !important;
            display: block !important;
        }

        .widthNone {
            display: none !important;
        }

        a.backTable {
            display: block;
        }
    }

    .ConteerRowTable.TableOpenFree {
        .widthFullFree {
            width: 100% !important;
            display: block !important;
        }

        .widthNone {
            display: none !important;
        }

        a.backTable {
            display: block;
        }
    }
}

.user.statPageUser {
    .overflowHidden {
        overflow: hidden;
    }

    .filter-form input.order-time {
        width: 47%;
    }

    .checkboxFilter {
        display: flex;
        align-items: center;

        input {
            width: 30px;
            margin: 0;
            margin-right: 10px;
        }

        label {
            height: auto;
        }
    }
}

input[readonly] {
    cursor: not-allowed !important;
}

ul.pagination {
    li.disabled {
        a {
            cursor: not-allowed !important;
        }
    }

    a {
        border: none;
    }

    a.active {
        background: rgb(71, 142, 204);
        color: rgb(255, 255, 255);
    }

}

@media (max-width: 480px) {
    .filter-form .buttons {
        display: flex !important;
        justify-content: center !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;

        button,
        a {
            margin-left: 0 !important;
            margin-right: 0 !important;
            margin-bottom: 10px;
            min-width: 200px;
        }
    }
}

.overClock a[data-v-5862a990] {
    padding: 19px 30px 15px;
}

.overClock a.calen1 img[data-v-5862a990] {
    vertical-align: sub !important;
}

.overClock a.calen2 img[data-v-5862a990] {
    vertical-align: top !important;
}

.text-nowrap {
    white-space: nowrap;
}

.timerBlock {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 0;
    }

    .text {
        text-align: center;
    }

    .digit {
        margin-right: 5px;
        text-align: center;
    }

    .spacer {
        margin-right: 5px;
    }
}

.selectFormConteer {
    .ui.selection.dropdown {
        min-height: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 10px;
        border-radius: 15px;
    }
}

.dateConteer {
    display: flex;
    min-width: 400px;

    [type="date"] {}

    [type="time"] {
        // min-width: 100px;
        margin-left: 10px;
    }
}

#PayModal .modal-content .modal-body .type .item.active {
    border-color: #F2994A !important;
}

.win {
    z-index: 1000 !important;
}