// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
// @import "variables";
// Bootstrap
@import '../../../public/css/my.css';
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "~vue-search-select/dist/VueSearchSelect.css";
@import '../../../public/css/order.css';

.example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}

.example-modal .modal {
    background: transparent !important;
}

.tr_button {
    .buttonOpenTableConteer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a.btn-pause {
            max-width: 80px;
        }

        a.btn {
            font-size: 10px;
            height: auto !important;
        }
    }
}

@media (max-width: 1395px) {
    .tr_button {
        .buttonOpenTableConteer {
            flex-direction: column;
            justify-content: center;

            a.btn {
                max-width: inherit !important;
                margin-bottom: 10px;
                height: auto !important;

                i {
                    display: none;
                }
            }
        }
    }
}

.filterConteer {
    .itemFilter {
        margin-right: 10px;
    }
}

.flexBlock {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.itemAct {
    width: 50%;
}

.flexMaxWidth {
    flex-grow: 1;
    max-width: 50%;
}

.flexCompare {
    .itemSelect {
        min-width: 33.3%;
    }
}

.btnCat {
    min-width: 250px;
}

.addPurchaseinvoiceHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;

    .formItemInp {
        min-width: 30%;
        max-width: 30%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

#addPurchaseProduct,
#addPurchaseinvoiceItem {
    .addPurchaseinvoiceItem {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 10px;

        .formItemInp {
            min-width: 30%;
            max-width: 30%;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media screen and (max-width: 768px) {
    .addPurchaseinvoiceHeader {
        display: none;
    }

    #addPurchaseProduct,
    #addPurchaseinvoiceItem {
        .addPurchaseinvoiceItem {
            width: 100%;
            padding-bottom: 10px;
            border-bottom: 2px solid;

            .formItem,
            .formItemInp {
                width: 100%;
                min-width: inherit;
                max-width: inherit;
                text-align: center;

                a.removeItem {
                    font-size: 150%;
                }
            }
        }
    }
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px;
}

.tooltip {
    display: block !important;
    z-index: 10000;

    .tooltip-inner {
        background: black;
        color: white;
        border-radius: 16px;
        padding: 5px 10px 4px;
    }

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: black;
        z-index: 1;
    }

    &[x-placement^="top"] {
        margin-bottom: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 0 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: 5px;

        .tooltip-arrow {
            border-width: 0 5px 5px 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[x-placement^="right"] {
        margin-left: 5px;

        .tooltip-arrow {
            border-width: 5px 5px 5px 0;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[x-placement^="left"] {
        margin-right: 5px;

        .tooltip-arrow {
            border-width: 5px 0 5px 5px;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &.popover {
        $color: #ffffff;
        border: 1px solid rgb(0, 142, 191) !important;
        padding-top: 12px;
        padding-bottom: 12px;

        .popover-inner {
            background: $color;
            padding-left: 24px;
            padding-right: 24px;
            padding-top: 0;
            padding-bottom: 0;
        }

        .popover-arrow {
            border-color: $color;
        }

        a {
            color: rgb(51, 51, 51);
            font-size: 16px;
            text-decoration: none;
        }
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .15s;
    }

    .wrapper {
        background: inherit !important;
    }
}

.vs__input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.modalCustom {
    .modal-my {
        max-width: 545px;
    }

    .modal-my2 {
        max-width: 425px;
    }

    .modal-header {
        border: none;
    }

    .buttonBlock {
        display: flex;
        width: 100%;

        .itemBtton {
            width: 50%;
            box-sizing: border-box;
        }

        .leftItem {
            padding-right: 15px;

        }

        .rightItem {
            padding-left: 15px;
            text-align: right;
        }
    }

}

.order-menu {
    position: relative;
}

@media screen and (max-width: 480px) {
    .modalCustom {
        .buttonBlock {
            flex-wrap: wrap;

            .itemBtton {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }

            .leftItem {
                padding-right: 0;
            }

            .rightItem {
                padding-left: 0;
            }
        }

    }

}

.modalHeader {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}

.modal-header {
    border-bottom: none;

    .text {
        text-align: center;
        font-size: 16px;
        font-size: 600;
        color: #000;
    }

    .close {
        float: none;
        position: absolute;
        top: 12px;
        right: 10px;
        font-size: 30px;
        margin: 0;
    }
}

table.tables {
    tr {
        td.price {
            div.timerPriceorderConteer {
                display: inline;
            }

            div {
                display: inline;

                span.price {
                    position: relative;
                    font-size: 16px;
                    line-height: 19px;
                }

                span.valut {
                    display: none !important;
                }
            }
        }
    }
}

.timerTableHome {
    display: flex;
    align-items: center;

    .timerBlock {
        div {
            display: inline-block;
        }

        p {
            display: inline !important;
            padding: 0 !important;
            margin:  !important;
            background: inherit !important;
            font-size: 16px !important;
            line-height: 19px !important;
            color: rgb(51, 51, 51) !important;
            font-family: 'Roboto', sans-serif !important;
            font-weight: 400 !important;
        }

        .spacer {
            margin: 0 !important;
        }
    }

    span.openText {
        position: relative !important;
        margin-left: 5px;
        margin-bottom: 10px;
        ;
    }
}

input[type="submit"][disabled="disabled"],
button[disabled="disabled"] {
    cursor: not-allowed !important;
}

li.locale {
    a.active {
        span {
            color: rgb(114, 175, 210) !important;
        }
    }
}

// table *****************************************************************************************8
div.board_col.active {
    border: 1px solid rgb(0, 10, 26);

    a.board_imem.item-open {
        outline: none;
        text-decoration: none;
        color: rgb(114, 175, 210);
    }
}

.modal {
    .modal-content {
        .close:before {
            content: none !important;
        }
    }
}

a.backTable {
    display: none;
}

@media (max-width: 768px) {
    .ConteerRowTable {

        .widthFullFree,
        .widthFull {
            display: none !important;
        }
    }

    .ConteerRowTable.TableOpen {
        .widthFull {
            width: 100% !important;
            display: block !important;
        }

        .widthNone {
            display: none !important;
        }

        a.backTable {
            display: block;
        }
    }

    .ConteerRowTable.TableOpenFree {
        .widthFullFree {
            width: 100% !important;
            display: block !important;
        }

        .widthNone {
            display: none !important;
        }

        a.backTable {
            display: block;
        }
    }
}

.user.statPageUser {
    .overflowHidden {
        overflow: hidden;
    }

    .filter-form input.order-time {
        width: 47%;
    }

    .checkboxFilter {
        display: flex;
        align-items: center;

        input {
            width: 30px;
            margin: 0;
            margin-right: 10px;
        }

        label {
            height: auto;
        }
    }
}

input[readonly] {
    cursor: not-allowed !important;
}

ul.pagination {
    li.disabled {
        a {
            cursor: not-allowed !important;
        }
    }

    a {
        border: none;
    }

    a.active {
        background: rgb(71, 142, 204);
        color: rgb(255, 255, 255);
    }

}

@media (max-width: 480px) {
    .filter-form .buttons {
        display: flex !important;
        justify-content: center !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;

        button,
        a {
            margin-left: 0 !important;
            margin-right: 0 !important;
            margin-bottom: 10px;
            min-width: 200px;
        }
    }
}

.overClock a[data-v-5862a990] {
    padding: 19px 30px 15px;
}

.overClock a.calen1 img[data-v-5862a990] {
    vertical-align: sub !important;
}

.overClock a.calen2 img[data-v-5862a990] {
    vertical-align: top !important;
}

.text-nowrap {
    white-space: nowrap;
}

.timerBlock {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 0;
    }

    .text {
        text-align: center;
    }

    .digit {
        margin-right: 5px;
        text-align: center;
    }

    .spacer {
        margin-right: 5px;
    }
}

.selectFormConteer {
    .ui.selection.dropdown {
        min-height: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 10px;
        border-radius: 15px;
    }
}

.dateConteer {
    display: flex;
    min-width: 400px;

    [type="date"] {}

    [type="time"] {
        margin-left: 10px;
    }
}

#PayModal .modal-content .modal-body .type .item.active {
    border-color: #F2994A !important;
    border-width: 2px;
}

.win {
    z-index: 1000 !important;
}

a.ResetLink {
    width: 165px;
    height: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 16px;
    background: rgb(242, 153, 74);
    line-height: 40px;
    text-align: center;

    &:hover {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

}

.form-user.acts__form {
    select {
        width: 100%;
        height: 30px;
        background: rgb(255, 255, 255);
        border-radius: 50px;
        border: none;
        margin-bottom: 10px;
        padding-left: 20px;
        box-sizing: border-box;
    }
}

.actOne {
    .worker-button {
        display: flex;
        align-items: center;
        flex-wrap: wrap;


        a.worker__button.worker__export {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 768px) {
    .actOne {
        .worker-button {
            text-align: center;

            a.worker__button {
                width: auto !important;
                min-width: 200px;

            }

            button {
                margin-top: 0 !important;
            }
        }
    }

    .dateConteer {
        flex-wrap: wrap;
        min-width: inherit !important;

        [type="date"] {
            width: auto;
        }

        [type="time"] {
            width: auto;
        }
    }

}

@media (max-width: 480px) {
    .actOne {
        .worker-button {
            text-align: center;

            a.worker__button {}

            button {
                margin-top: 0 !important;
            }
        }
    }
}

.filter-block.filter-worker p {
    height: auto !important;
}

.heigthAuto {
    height: auto !important;
}

.typeDocSortOrderStocks,
.categoryDocSortOrderDESC {
    img {
        transform: rotate(180deg);
    }
}

#readIngWin.target,
#readOrderWin.target,
#compareActWin.target {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-user.form-user-edit {
    background: rgb(236, 240, 245);
    padding: 20px;
}

input.isInvalid {
    border: 1px solid rgb(255, 0, 0) !important;
}

[v-cloak] {
    display: none;
}

.board_table table tr td p {
    margin-left: 5px;
}

// .form-user.acts__form.over__form {
.maxHeigth {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.select_doc_container {
    .select2-selection.select2-selection--single {
        height: 30px !important;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 0 !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 0 !important;
    }
}

.legent_item {
    width: 30px;
    height: 20px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-right: 15px;
}

.analyticWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;

    .analyticItem {
        display: flex;
        align-items: center;
        border: 1px solid rgb(71, 142, 204);
        box-sizing: border-box;
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        background: rgba(0, 0, 0, 0);
        padding: 10px 12px;

        select {
            display: inline-block;
            margin-left: 5px;
        }
    }

    a {
        margin-left: 10px;
    }
}

.charts {
    width: 70%;

}

.analitic__table.user_table table.tables tr:first-child td {
    width: auto !important;
}

@media (max-width: 768px) {
    .analyticWrap {
        .analyticItem {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 454px) {
    .charts {
        width: 100%;
    }
}

// **************************************************
.YesBooking {
    position: relative;

    &:before {
        content: attr(data-count);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ffffff;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        color: rgb(0, 0, 255) !important;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 0;
    }
}

#app.wrapper {
    height: 100vh !important;

    &>aside {
        position: fixed;
        height: calc(100vh - 58px);
        overflow-y: auto;

    }
}

.ApiKeyButtonWraperr {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    a.btn-danger {
        background-color: #f2994a !important;
        border-color: #f2994a !important;
        height: 33px;
    }

    a.overhead__buttom {
        display: inline-block;
        width: auto;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        border-radius: 4px;
        height: auto;
        height: 33px;
        margin-right: 20px;
    }
}

.td-left {
    text-align: left !important;
    padding-left: 10px !important;
}

@media (max-width: 768px) {
    .over__formsearch_ing {
        #searchform {
            margin-left: 0;
            width: 100%;
            margin-top: 20px;
        }
    }

    .saves {
        .user_top {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            a.dell {
                margin-right: 5px;
            }

            a.edit {
                margin-left: 5px;
            }
        }
    }
}

.CatFormImage,
.CategoryImg {
    max-width: 150px;
    height: auto;
    display: inline-block;
    margin-bottom: 10px;

}

.CatBackColor {
    width: 30px;
    height: 15px;
    display: inline-block
}

@media (max-width: 1050px) {
    .user_table table {
        min-width: inherit !important;
    }
}

#dropzone {
    border-radius: .625rem !important;
    border: 1px dashed rgb(81, 158, 235) !important;
    background-color: rgb(236, 245, 255) !important;
    text-align: center !important;
    min-height: 4.375rem !important;
    padding: 1.25rem .625rem .625rem !important;
    position: relative !important;

    .dropzone .dz-message {
        margin: 1em 0 !important;
    }

    .fa {
        font-size: 20px;
        display: inline-block;
        margin-top: 10px;
    }

    .dz-progress,
    .dz-size {
        display: none !important;

        span {
            display: none !important;
        }
    }
}

.ProductReadButtonBlock {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    [type="submit"] {
        // margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .row.WrapDropzone {
        &>div {
            width: 100% !important;
            text-align: center;
            padding-left: 15px;
        }
    }


}